:host {
	width: 100%;
	max-width: 1000px;
	display: block;
	margin: 0 auto;

	mat-toolbar {
		background-color: transparent;
	}

	.home-top-section {
		margin-top: 12rem;

		* {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 2rem 0;
		}
	}
}
